terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
*.tfvars.json
*.tfvars.*
*.tfstate.json
*.tfstate.*
*.tfstate.*
*.tfplan.json
*.tfplan.*
*.tfplan.*
*.tfvars.json
*.tfvars.*
/**/.tfstate.json
**/*.tfstate.*
**/*.tfstate
**/*.tfplan.json
**/*.tfplan.*
**/*.tfvars.json
scripts/init.sh
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.tar
**/*.tar.bz2
**/*.tar.xz
**/*.tar.lz
**/*.tar.lzma
**/*.tar.lzo
**/*.tar.lzop
**/*.tar.lz4
**/*.tar.lz5
**/*.tar.lz6
**/*.tar.lz7
**/*.tar.lz8
**/*.tar.lz9